      <ul class="list-group mb-4">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Email</h6>
          </div>
          <span class="text-muted">{{childData.email}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0"> Username</h6>
          </div>
          <span class="text-muted">{{childData.username}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Phone number</h6>
          </div>
          <span class="text-muted">{{childData.phone_number}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Country</h6>
          </div>
          <span class="text-muted">{{childData.country}}</span>
        </li>

      </ul>
